doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
    script(src="/js/liveTimer.js" defer) 
    style.
      /* Ensure that the body takes at least the full height of the viewport */
      body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }
      /* Push footer to the bottom */
      .main-content {
        flex-grow: 1;
      }

  body
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container-fluid
        a.navbar-brand(href="/") TimeTracker

        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
          span.navbar-toggler-icon

        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="/profile") Profile
            li.nav-item
              a.nav-link(href="/worklogs") Worklogs
            li.nav-item
              a.nav-link(href="/reports") Reports
            li.nav-item
              a.nav-link(href="/logout") Logout

    .main-content.container.mt-4
      h1 Welcome, #{user.fname} #{user.lname}!
      h3 Current Status: #{clockStatus}
      h4 Current Date: 
        span#currentDate #{new Date().toLocaleDateString()}

      if isClockedIn
        h4 Time Elapsed: 
          span#timerDisplay 0h 0m 0s

      if clockStatus.includes("Not clocked in yet.") || clockStatus.includes("❌ Clocked Out")
        form(method="post" action="/clockin")
          button.btn.btn-success(type="submit") ✅ Clock In
      else
        form(method="post" action="/clockout")
          button.btn.btn-danger(type="submit") ❌ Clock Out

      // Log History Table
      h4 Log History:
      table.table.table-bordered
        thead
          tr
            th Action
            th Clock In Time
            th Date Clock In
            th Clock Out Time
            th Date Clock Out
            th Worked Hours
        tbody
          each log in logHistory
            tr
              td #{log.action}
              td #{log.clockInTime}
              td #{log.dateClockIn}
              td #{log.clockOutTime}
              td #{log.dateClockOut}
              td #{log.workedDuration}
          else 
            p No log history available
      a.btn.btn-primary.mt-3(href="/worklogs") View Work Logs



    // Footer at the bottom
    footer.footer.bg-dark.text-light.text-center.py-3
      p &copy; 2025 TimeTracker. All rights reserved.
    script.
      var clockInTime = !{JSON.stringify(clockInTime)}
