doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
    script(src="/scripts/historyToggle.js" defer)

  
  body
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container-fluid
        a.navbar-brand(href="/") TimeTracker
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href="/logout") Logout

    // Main Container
    .container.mt-4
      h1 Welcome, #{user.fname} #{user.lname}!
      h3 Current Status: #{clockStatus}

      // Clock In/Out Buttons
      if clockStatus.includes("Not clocked in yet.") || clockStatus.includes("❌ Clocked Out")
        form(method="post" action="/clockin")
          button.btn.btn-success(type="submit") ✅ Clock In
      else
        form(method="post" action="/clockout")
          button.btn.btn-danger(type="submit") ❌ Clock Out
      
      // Show Log History Button
      button#showHistoryBtn.btn.btn-info(type="button") Show Log History

    // Hidden Log History Section
    #logHistorySection(style="display: none;")
      h4 Log History:
      table.table.table-bordered
        thead
          tr
            th Action
            th Timestamp
            th Clock In Time
            th Clock Out Time
        tbody
          each log in logHistory
            tr
              td #{log.action}
              td #{log.timestamp.toLocaleString()}
              td #{log.clockInTime ? log.clockInTime.toLocaleString() : 'N/A'}
              td #{log.clockOutTime ? log.clockOutTime.toLocaleString() : 'N/A'}
