doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
    script(src="/js/liveTimer.js" defer) // Include JavaScript for live timer

  body
    .container.mt-4
      h1 Welcome, #{user.fname} #{user.lname}!
      h3 Current Status: #{clockStatus}

      if isClockedIn
        h4 Time Elapsed:
        span#timerDisplay 0h 0m 0s

      if clockStatus.includes("Not clocked in yet.") || clockStatus.includes("❌ Clocked Out")
        form(method="post" action="/clockin")
          button.btn.btn-success(type="submit") ✅ Clock In
      else
        form(method="post" action="/clockout")
          button.btn.btn-danger(type="submit") ❌ Clock Out

      // Log History Table
      h4 Log History:
      table.table.table-bordered
        thead
          tr
            th Action
            th Clock In Time
            th Clock Out Time
            th Worked Hours
        tbody
          each log in logHistory
            tr
              td #{log.action}
              td #{log.clockInTime}
              td #{log.clockOutTime}
              td #{log.workedDuration}

    script.
      var clockInTime = !{JSON.stringify(clockInTime)};
